<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Farmers Ready</title>
    <link rel="stylesheet" href="/static/css/index.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <section class="navigation">
      <nav>
        <div class="logo">
          <h1>Farmers <span>Ready</span></h1>
        </div>

        <div class="links">
          <a href="#">Home</a>
          <a href="#">Farmers</a>
          <a href="#">Contact</a>
          <a href="#">Food</a>
          <a href="#" class="resLink">Login</a>
          <a class="resLink" onclick="showWishlist()">Wishlist</a>
        </div>
        <div class="actions">
          <i class="fa-solid fa-magnifying-glass" onclick="showSearchBar()"></i>
          <i class="fa-solid fa-heart" onclick="showWishlist()"></i>
          <!-- <i class="fa-solid fa-circle-user" onclick="showProfile()"></i> -->
          <img
            src="/static/images/icon.jpg"
            width="30px"
            onclick="showProfile()"
          />
        </div>
        <i class="fas fa-bars"></i>
      </nav>
      <div class="searchBar">
        <input type="text" placeholder="Search" />
        <i class="fas fa-x" onclick="hideSearchBar()"></i>
      </div>

      <div class="searchResults">
        <div class="list">
          <div class="prod" data-productName="Methi">
            <i class="fas fa-heart"></i>
            <img src="/static/images/crops.png" />
            <div class="prodInfo">
              <h3>Methi</h3>
              <span>Price 50Rs</span>
              <b>Sold by Parnit Daphale</b>
            </div>
          </div>
          <div class="prod" data-productName="Sugar">
            <i class="fas fa-heart"></i>
            <img src="/static/images/crops.png" />
            <div class="prodInfo">
              <h3>Sugar</h3>
              <span>Price 50Rs</span>
              <b>Sold by Parnit Daphale</b>
            </div>
          </div>
          <div class="prod" data-productName="orange">
            <i class="fas fa-heart"></i>
            <img src="/static/images/crops.png" />
            <div class="prodInfo">
              <h3>orange</h3>
              <span>Price 50Rs</span>
              <b>Sold by Parnit Daphale Gadshila</b>
            </div>
          </div>
        </div>
      </div>

      <div class="wishlist">
        <div class="fas fa-close" onclick="hideWishlist()"></div>
        <div class="wishCont">
          <div class="itemContainer" data-productName="Methi">
            <div class="finalItem">
              <i class="fa-solid fa-envelope"></i>
            </div>
            <div class="item">
              <img src="/static/images/crops.png" />
              <div class="itemInfo">
                <h3>Methi</h3>
                <span>Price 50Rs</span>
              </div>
            </div>
            <div class="removeItem">
              <i class="fa-regular fa-trash-can"></i>
            </div>
          </div>
          <div class="itemContainer" data-productName="Sugar">
            <div class="finalItem">
              <i class="fa-solid fa-envelope"></i>
            </div>
            <div class="item">
              <img src="/static/images/crops.png" />
              <div class="itemInfo">
                <h3>Sugar</h3>
                <span>Price 50Rs</span>
              </div>
            </div>
            <div class="removeItem">
              <i class="fa-regular fa-trash-can"></i>
            </div>
          </div>

          <div class="itemContainer" data-productName="Rice">
            <div class="finalItem">
              <i class="fa-solid fa-envelope"></i>
            </div>
            <div class="item">
              <img src="/static/images/crops.png" />
              <div class="itemInfo">
                <h3>Rice</h3>
                <span>Price 50Rs</span>
              </div>
            </div>
            <div class="removeItem">
              <i class="fa-regular fa-trash-can"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="profileCont">
        <a href="#" class="fa-solid fa-pen-to-square" target="_blank"></a>
        <div class="profilePic">
          <img src="/static/images/icon.jpg" alt="" />
        </div>
        <div class="profileInfo">
          <h2>Pranit Daphale</h2>
          <span>pranit@gmail.com</span>
          <a href="#"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
        </div>
      </div>
    </section>
    <header id="header">
      <div class="banner">
        <h1>Empowering Farm<br />Efficiency</h1>
        <div class="banner-img">
          <img src="/static/images/banner.png" alt="" />
        </div>
        <div class="circle c1"></div>
        <div class="circle c2"></div>
        <div class="circle c3"></div>
      </div>
    </header>
    <section class="category">
      <h1>Search by <span>Categories</span></h1>
      <i class="fa-solid fa-caret-left"></i>
      <div class="list">
        <a href="#" class="card">
          <img src="/static/images/crops.png" />
          <div class="bg"></div>
          <span>Crops</span>
        </a>
        <a href="#" class="card">
          <img src="/static/images/vegi.png" />
          <div class="bg"></div>
          <span>Vegetables</span>
        </a>
        <a href="#" class="card">
          <img src="/static/images/leafy.png" />
          <div class="bg"></div>
          <span>Leafy-vegies</span>
        </a>
        <a href="#" class="card">
          <img src="/static/images/fruit.png" />
          <div class="bg"></div>
          <span>Fruits</span>
        </a>
        <a href="#" class="card">
          <img src="/static/images/fruit.png" />
          <div class="bg"></div>
          <span>Fruits</span>
        </a>
        <a href="#" class="card">
          <img src="/static/images/fruit.png" />
          <div class="bg"></div>
          <span>Fruits</span>
        </a>
        <a href="#" class="card">
          <img src="/static/images/fruit.png" />
          <div class="bg"></div>
          <span>Fruits</span>
        </a>
      </div>
      <i class="fa-solid fa-caret-right"></i>
    </section>

    <section class="best-seller">
      <h1>Best Seller <br /><span>Foods</span></h1>
      <div class="list">
        <a href="#" class="card">
          <img src="/static/images/fruit.png" />
          <div class="bg"></div>
          <span>Fruits</span>
        </a>
        <a href="#" class="card">
          <img src="/static/images/fruit.png" />
          <div class="bg"></div>
          <span>Fruits</span>
        </a>
      </div>
    </section>

    <section class="top-farmers">
      <div class="list">
        <a href="#" class="farmers">
          <img src="/static/images/farmer 1.png" />
          <span>Pranit Daphale 1</span>
        </a>
        <a href="#" class="farmers">
          <img src="/static/images/farmer 1.png" />
          <span>Pranit Daphale 2</span>
        </a>
        <a href="#" class="farmers">
          <img src="/static/images/farmer 1.png" />
          <span>Pranit Daphale 3</span>
        </a>
        <div class="farmers">
          <h1>
            Top <br />
            <b>Farmers</b>
          </h1>
        </div>
      </div>
    </section>

    <div class="messaging">
      <i class="fa-regular fa-comments"></i>
    </div>

    <footer>
      <div class="d1">
        <h1>Farmers Ready</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, quidem.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, ullam?
        </p>
      </div>
      <div class="d2">
        <h1>Pages</h1>
        <ul>
          <li>Food</li>
          <li>Farmers</li>
          <li>Contact Us</li>
          <li>About Us</li>
        </ul>
      </div>
      <div class="d3">
        <h1>Food</h1>
        <ul>
          <li>Food</li>
          <li>Farmers</li>
          <li>Contact Us</li>
          <li>About Us</li>
        </ul>
      </div>
      <div class="d4">
        <h1>Contact us</h1>
        <ul>
          <li>
            modern collage ganesh khind pune phone - 0000000000 email -
            farmerready@gmail.com
          </li>
        </ul>
      </div>
    </footer>

    <div class="copyright">
      <span>Farmers Ready © Copyright All Right Reserved</span>
    </div>
    <script src="/static/js/index.js"></script>
  </body>
</html>
